port_range = 6881-6889
port_random = no
directory = ~/downloads/torrents/files
session = ~/downloads/torrents/session
# encryption = allow_incoming, try_outgoing, require
# schedule =
upload_rate = 10
download_rate = 25
# min_peers =
# max_peers =
max_uploads = 3
dht_port = 6881
