bind = 192.168.0.3
port_range = 6881-6881
port_random = no
directory = ~/downloads/torrents/files
session = ~/downloads/torrents/sessions
encryption = allow_incoming,try_outgoing,enable_retry
peer_exchange = no

upload_rate = 30
download_rate = 50
