# bind = 192.168.0.2
# ip = 127.0.0.1
port_range = 6881-6881
port_random = no
check_hash = yes
directory = ~/Downloads/torrents/files
session = ~/Downloads/torrents/sessions
encryption = allow_incoming,try_outgoing,enable_retry
peer_exchange = no

# upload_rate = 30
# download_rate = 50
max_uploads = 15
